block variablesHeader
header(itemscope='', itemtype='http://schema.org/WPHeader')
  meta(itemprop='description', name='description', content='!!!описание_страницы!!!')
  meta(itemprop='keywords', name='keywords', content='!!!ключевые_слова_для_страницы!!!')
  section.wrapper
    .header__top(class=isStart ?'':'active-static')
      .container
        .row
          .header__col-1
            .header__logo
              a(href='#')
                img(src='assets/img/VRMEDIA.png', alt='logo')
          .header__col-2
            a.header__burger__button.burger(href='#')
              span Меню
              img(src='assets/img/burger.svg', alt='Меню')
            nav.header__menu
              ul.header__menu-list(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
                li.header__logo-mobile
                  img(src='assets/img/VRMEDIA.png', alt='logo')
                li.header__close
                  span Закрыть
                  //img(src='assets/img/burger.svg', alt='Закрыть')
                li.header__menu-item.angle-on(class=isModels ?'active-page':'')(data-href='https://davinci.fit/schedule')
                  a(itemprop='url', href='https://vrcams.ru/webcam_model/').header__menu-item__link Моделям
                  .header__dropdown
                    ul.dropdown__list
                      li.dropdown__item
                        a(itemprop='url', href='#') Заработки
                      li.dropdown__item
                        a(itemprop='url', href='#') Кто может работать
                      li.dropdown__item
                        a(itemprop='url', href='#') Где зарегистрироваться и как
                      li.dropdown__item
                        a(itemprop='url', href='#') Как раскрутиться моделью
                      li.dropdown__item
                        a(itemprop='url', href='#') Работа на дому
                      li.dropdown__item
                        a(itemprop='url', href='#') Работа на студии
                      li.dropdown__item
                        a(itemprop='url', href='#') Франшиза
                li.header__menu-item.angle-on(class=isStudio ?'active-page':'')
                  a(itemprop='url', href='https://vrcams.ru/webcam_model/').header__menu-item__link Студиям
                  .header__dropdown
                    ul.dropdown__list
                      li.dropdown__item
                        a(itemprop='url', href='#') Заработки
                      li.dropdown__item
                        a(itemprop='url', href='#') Кто может работать
                      li.dropdown__item
                        a(itemprop='url', href='#') Где зарегистрироваться и как
                      li.dropdown__item
                        a(itemprop='url', href='#') Как раскрутиться моделью
                      li.dropdown__item
                        a(itemprop='url', href='#') Работа на дому
                      li.dropdown__item
                        a(itemprop='url', href='#') Работа на студии
                      li.dropdown__item
                        a(itemprop='url', href='#') Франшиза
                li.header__menu-item.angle-on(class=isPromotion ?'active-page':'')
                  a(itemprop='url', href='https://vrcams.ru/webcam_model/').header__menu-item__link Продвижение
                  .header__dropdown
                    ul.dropdown__list
                      li.dropdown__item
                        a(itemprop='url', href='#') Источники трафика
                      li.dropdown__item
                        a(itemprop='url', href='#') Платформы для монетизации
                      li.dropdown__item
                        a(itemprop='url', href='#') Услуги маркетолога
                      li.dropdown__item
                        a(itemprop='url', href='#') Примеры реализации
                      li.dropdown__item
                        a(itemprop='url', href='#') Услуги дизайнера
                      li.dropdown__item
                        a(itemprop='url', href='#') Полезные статьи
                li.header__menu-item.angle-off.disable(class=isBlog ?'active-page':'')
                  a(itemprop='url', href='#').header__menu-item__link Блог
                li.header__menu-item.angle-off.disable(class=isDMCA ?'active-page':'')
                  a(itemprop='url', href='#').header__menu-item__link DMCA
                li.header__menu-item.angle-off.disable(class=isFranshize ?'active-page':'')
                  a(itemprop='url', href='#').header__menu-item__link Франшиза
                li.header__menu-item.header__telegram
                  .header__telegram__wrap
                    .header__telegram__button
                      span.header__telegram__button__name Обратная связь
                      img(src='assets/img/footer_telegram.svg', alt='Написать в телеграм')
                    .dropdown__list__telegram
                      .dropdown__item__telegram
                        .dropdown__item__telegram__inner
                          span.dropdown__item__telegram__span Наш телеграм-канал про вебкам
                          a(itemprop='url', href='#').dropdown__item__telegram__link  @webcam_vrmedia
                        .dropdown__item__telegram__inner
                          span.dropdown__item__telegram__span Заявки по вакансиям отправляйте сюда
                          a(itemprop='url', href='#').dropdown__item__telegram__link @vrcams
                      .dropdown__item__telegram
                        .header__telegram__button__feedback
                          a(itemprop='url', href='#modal_send').header__telegram__button__feedback__link
                            span Обратная связь
                            span.arrow
